settings/
*.classes
.myeclipse/
.classpath
.project
*.bak
.springBeans
*.log
*.jar
*.class
worl/*_jsp.java
work/*.java
work
.tomcatplugin
src/main/webapp/WEB-INF/classes/
.classpath
src/main/webapp/static/vc
/target/
/temp/
.idea
.idea/*
calendar.iml
src/main/webapp/kaqmimage/
src\main\webapp\static\upload
src/main/webapp/static/upload/*
*/.svn/*
*.svn-base


