<style>
    body {
        background-color: #f7f7f7;
        background-image: none;
    }
</style>

<header id="meeting_logo">
    <img src="static/image/avatar1.jpg" alt="海绵城市">
</header>
<h1 class="meeting_name">海绵城市研究院</h1>

<section id="meeting_list">
    <aritle class="meeting_item" ng-repeat="item in articalList">
        <a href="#/meeting/view?id={{ item.id }}">
            <div class="meeting_cover">
                <img src="{{ item.pic ? '/' + item.pic : 'static/image/zanwu.jpg' }}" alt="{{ item.title }}">
            </div>
            <h2 class="meeting_title">{{ item.title }}</h2>
            <div class="meeting_date"> {{ item.createtime }}</div>
        </a>
    </aritle>
</section>