

#login-wrap{
    margin: auto ;
    width:400px;
    padding:0px 0px;
 /*   height:300px;*/
    margin-top:111px;
    vertical-align: middle;

      /*  border-top: 1px solid #d8dee2;*/
        border-radius: 5px;

          /*  padding: 20px;*/
            font-size: 14px;
            background-color: #fff;
            border:20px solid rgba(0,0,0,0.03);
/*   background-color:rgb(160,197,232);*/



}
#login-wrap { -moz-background-clip: border; /* Firefox 3.6 */
-webkit-background-clip: border; /* Safari 4? Chrome 6? */
background-clip: border-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
-moz-background-clip: padding; /* Firefox 3.6 */
-webkit-background-clip: padding; /* Safari 4? Chrome 6? */
background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
-moz-background-clip: content; /* Firefox 3.6 */
-webkit-background-clip: content; /* Safari 4? Chrome 6? */
background-clip: content-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */ }
body{
background-color:rgb(244,199,152);
}

/***container**/

.container{
/* filter: alpha(opacity=1);
            opacity: 1;*/
    background-color:white;
/*   background-color:rgb(160,197,232);*/
}
/**tab**/


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: transparent;
    border: 0px solid #ddd;
    border-bottom-color: #337ab7;
     border-bottom-width: 2px;
     border-radius:0px;
      border-bottom-style: solid;
}


.nav{
padding-left:60px;
font-size:1.5rem;

}
.tab-content{
    margin-top:15px;
}

.sr-only {
    position: relative;
    width: auto;
    height:auto;
    padding: 0;
    margin:0px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    font-weight:100;
}

.help-block-left-animation{

     color:red !important;

 }
.input-group-addon {
padding:0px 0px;
}
.nav{
    font-size:2rem;
}