<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cola.machine.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="cola.machine.bean.SysUser">
      <id column="id" jdbcType="BIGINT" property="id" />
      <result column="username" jdbcType="VARCHAR" property="username" />
      <result column="password" jdbcType="VARCHAR" property="password" />
      <result column="nkname" jdbcType="VARCHAR" property="nkname" />
      <result column="type" jdbcType="INTEGER" property="type" />
      <result column="status" jdbcType="INTEGER" property="status" />
      <result column="email" jdbcType="VARCHAR" property="email" />
      <result column="telno" jdbcType="VARCHAR" property="telno" />
      <result column="idcard" jdbcType="VARCHAR" property="idcard" />
      <result column="sex" jdbcType="INTEGER" property="sex" />
      <result column="birth" jdbcType="DATE" property="birth" />
      <result column="integral" jdbcType="INTEGER" property="integral" />
      <result column="address" jdbcType="VARCHAR" property="address" />
      <result column="weichat" jdbcType="VARCHAR" property="weichat" />
      <result column="qq" jdbcType="BIGINT" property="qq" />
      <result column="face" jdbcType="VARCHAR" property="face" />
      <result column="remark" jdbcType="VARCHAR" property="remark" />
      <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
      <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    sys_user.`id` ,sys_user.`username` ,sys_user.`password` ,sys_user.`nkname` ,sys_user.`type` ,sys_user.`status` ,sys_user.`email` ,sys_user.`telno` ,sys_user.`idcard` ,sys_user.`sex` ,sys_user.`birth` ,sys_user.`integral` ,sys_user.`address` ,sys_user.`weichat` ,sys_user.`qq` ,sys_user.`face` ,sys_user.`remark` ,sys_user.`createtime` ,sys_user.`updatetime` 
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where sys_user.id =   #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
 <insert id="insert" useGeneratedKeys="true" keyProperty="id"   parameterType="cola.machine.bean.SysUser" >

    insert into sys_user (  <include refid="Base_Column_List" />)
    values (
#{id,jdbcType=BIGINT}
,#{username,jdbcType=VARCHAR}
,#{password,jdbcType=VARCHAR}
,#{nkname,jdbcType=VARCHAR}
,#{type,jdbcType=INTEGER}
,#{status,jdbcType=INTEGER}
,#{email,jdbcType=VARCHAR}
,#{telno,jdbcType=VARCHAR}
,#{idcard,jdbcType=VARCHAR}
,#{sex,jdbcType=INTEGER}
,#{birth,jdbcType=DATE}
,#{integral,jdbcType=INTEGER}
,#{address,jdbcType=VARCHAR}
,#{weichat,jdbcType=VARCHAR}
,#{qq,jdbcType=BIGINT}
,#{face,jdbcType=VARCHAR}
,#{remark,jdbcType=VARCHAR}
,#{createtime,jdbcType=TIMESTAMP}
,#{updatetime,jdbcType=TIMESTAMP}
    )
  </insert>
   <insert id="insertSelective" parameterType="cola.machine.bean.SysUser" >
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
        <if test="id != null" >  
           `id`, 
        </if>  
        <if test="username != null" >  
           `username`, 
        </if>  
        <if test="password != null" >  
           `password`, 
        </if>  
        <if test="nkname != null" >  
           `nkname`, 
        </if>  
        <if test="type != null" >  
           `type`, 
        </if>  
        <if test="status != null" >  
           `status`, 
        </if>  
        <if test="email != null" >  
           `email`, 
        </if>  
        <if test="telno != null" >  
           `telno`, 
        </if>  
        <if test="idcard != null" >  
           `idcard`, 
        </if>  
        <if test="sex != null" >  
           `sex`, 
        </if>  
        <if test="birth != null" >  
           `birth`, 
        </if>  
        <if test="integral != null" >  
           `integral`, 
        </if>  
        <if test="address != null" >  
           `address`, 
        </if>  
        <if test="weichat != null" >  
           `weichat`, 
        </if>  
        <if test="qq != null" >  
           `qq`, 
        </if>  
        <if test="face != null" >  
           `face`, 
        </if>  
        <if test="remark != null" >  
           `remark`, 
        </if>  
        <if test="createtime != null" >  
           `createtime`, 
        </if>  
        <if test="updatetime != null" >  
           `updatetime`, 
        </if>  
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        <if test="id != null" >  
          #{id,jdbcType=BIGINT},
        </if>  
        <if test="username != null" >  
          #{username,jdbcType=VARCHAR},
        </if>  
        <if test="password != null" >  
          #{password,jdbcType=VARCHAR},
        </if>  
        <if test="nkname != null" >  
          #{nkname,jdbcType=VARCHAR},
        </if>  
        <if test="type != null" >  
          #{type,jdbcType=INTEGER},
        </if>  
        <if test="status != null" >  
          #{status,jdbcType=INTEGER},
        </if>  
        <if test="email != null" >  
          #{email,jdbcType=VARCHAR},
        </if>  
        <if test="telno != null" >  
          #{telno,jdbcType=VARCHAR},
        </if>  
        <if test="idcard != null" >  
          #{idcard,jdbcType=VARCHAR},
        </if>  
        <if test="sex != null" >  
          #{sex,jdbcType=INTEGER},
        </if>  
        <if test="birth != null" >  
          #{birth,jdbcType=DATE},
        </if>  
        <if test="integral != null" >  
          #{integral,jdbcType=INTEGER},
        </if>  
        <if test="address != null" >  
          #{address,jdbcType=VARCHAR},
        </if>  
        <if test="weichat != null" >  
          #{weichat,jdbcType=VARCHAR},
        </if>  
        <if test="qq != null" >  
          #{qq,jdbcType=BIGINT},
        </if>  
        <if test="face != null" >  
          #{face,jdbcType=VARCHAR},
        </if>  
        <if test="remark != null" >  
          #{remark,jdbcType=VARCHAR},
        </if>  
        <if test="createtime != null" >  
          #{createtime,jdbcType=TIMESTAMP},
        </if>  
        <if test="updatetime != null" >  
          #{updatetime,jdbcType=TIMESTAMP},
        </if>  
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cola.machine.bean.SysUser" >
    update sys_user
    <set >
        <if test="id != null" >  
             `id`=#{id,jdbcType=BIGINT},
        </if>  
        <if test="username != null" >  
             `username`=#{username,jdbcType=VARCHAR},
        </if>  
        <if test="password != null" >  
             `password`=#{password,jdbcType=VARCHAR},
        </if>  
        <if test="nkname != null" >  
             `nkname`=#{nkname,jdbcType=VARCHAR},
        </if>  
        <if test="type != null" >  
             `type`=#{type,jdbcType=INTEGER},
        </if>  
        <if test="status != null" >  
             `status`=#{status,jdbcType=INTEGER},
        </if>  
        <if test="email != null" >  
             `email`=#{email,jdbcType=VARCHAR},
        </if>  
        <if test="telno != null" >  
             `telno`=#{telno,jdbcType=VARCHAR},
        </if>  
        <if test="idcard != null" >  
             `idcard`=#{idcard,jdbcType=VARCHAR},
        </if>  
        <if test="sex != null" >  
             `sex`=#{sex,jdbcType=INTEGER},
        </if>  
        <if test="birth != null" >  
             `birth`=#{birth,jdbcType=DATE},
        </if>  
        <if test="integral != null" >  
             `integral`=#{integral,jdbcType=INTEGER},
        </if>  
        <if test="address != null" >  
             `address`=#{address,jdbcType=VARCHAR},
        </if>  
        <if test="weichat != null" >  
             `weichat`=#{weichat,jdbcType=VARCHAR},
        </if>  
        <if test="qq != null" >  
             `qq`=#{qq,jdbcType=BIGINT},
        </if>  
        <if test="face != null" >  
             `face`=#{face,jdbcType=VARCHAR},
        </if>  
        <if test="remark != null" >  
             `remark`=#{remark,jdbcType=VARCHAR},
        </if>  
        <if test="createtime != null" >  
             `createtime`=#{createtime,jdbcType=TIMESTAMP},
        </if>  
        <if test="updatetime != null" >  
             `updatetime`=#{updatetime,jdbcType=TIMESTAMP},
        </if>  
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cola.machine.bean.SysUser" >
    update sys_user
    set 
              `username`=#{username,jdbcType=VARCHAR},  
              `password`=#{password,jdbcType=VARCHAR},  
              `nkname`=#{nkname,jdbcType=VARCHAR},  
              `type`=#{type,jdbcType=INTEGER},  
              `status`=#{status,jdbcType=INTEGER},  
              `email`=#{email,jdbcType=VARCHAR},  
              `telno`=#{telno,jdbcType=VARCHAR},  
              `idcard`=#{idcard,jdbcType=VARCHAR},  
              `sex`=#{sex,jdbcType=INTEGER},  
              `birth`=#{birth,jdbcType=DATE},  
              `integral`=#{integral,jdbcType=INTEGER},  
              `address`=#{address,jdbcType=VARCHAR},  
              `weichat`=#{weichat,jdbcType=VARCHAR},  
              `qq`=#{qq,jdbcType=BIGINT},  
              `face`=#{face,jdbcType=VARCHAR},  
              `remark`=#{remark,jdbcType=VARCHAR},  
              `createtime`=#{createtime,jdbcType=TIMESTAMP},  
              `updatetime`=#{updatetime,jdbcType=TIMESTAMP}  
where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="listByParams" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user where 1=1
        <if test="id != null and id != '' ">  
           and `id` = #{id}
        </if>  
        <if test="username != null and username != '' ">  
           and `username` = #{username}
        </if>  
        <if test="usernameLike != null and usernameLike != '' ">  
             and `username` like "%"#{usernameLike}"%"
        </if>   
        <if test="password != null and password != '' ">  
           and `password` = #{password}
        </if>  
        <if test="passwordLike != null and passwordLike != '' ">  
             and `password` like "%"#{passwordLike}"%"
        </if>   
        <if test="nkname != null and nkname != '' ">  
           and `nkname` = #{nkname}
        </if>  
        <if test="nknameLike != null and nknameLike != '' ">  
             and `nkname` like "%"#{nknameLike}"%"
        </if>   
        <if test="type != null and type != '' ">  
           and `type` = #{type}
        </if>  
        <if test="status != null and status != '' ">  
           and `status` = #{status}
        </if>  
        <if test="email != null and email != '' ">  
           and `email` = #{email}
        </if>  
        <if test="emailLike != null and emailLike != '' ">  
             and `email` like "%"#{emailLike}"%"
        </if>   
        <if test="telno != null and telno != '' ">  
           and `telno` = #{telno}
        </if>  
        <if test="telnoLike != null and telnoLike != '' ">  
             and `telno` like "%"#{telnoLike}"%"
        </if>   
        <if test="idcard != null and idcard != '' ">  
           and `idcard` = #{idcard}
        </if>  
        <if test="idcardLike != null and idcardLike != '' ">  
             and `idcard` like "%"#{idcardLike}"%"
        </if>   
        <if test="sex != null and sex != '' ">  
           and `sex` = #{sex}
        </if>  
        <if test="birth != null and birth != '' ">  
           and `birth` = #{birth}
        </if>  
        <if test="integral != null and integral != '' ">  
           and `integral` = #{integral}
        </if>  
        <if test="address != null and address != '' ">  
           and `address` = #{address}
        </if>  
        <if test="addressLike != null and addressLike != '' ">  
             and `address` like "%"#{addressLike}"%"
        </if>   
        <if test="weichat != null and weichat != '' ">  
           and `weichat` = #{weichat}
        </if>  
        <if test="weichatLike != null and weichatLike != '' ">  
             and `weichat` like "%"#{weichatLike}"%"
        </if>   
        <if test="qq != null and qq != '' ">  
           and `qq` = #{qq}
        </if>  
        <if test="face != null and face != '' ">  
           and `face` = #{face}
        </if>  
        <if test="faceLike != null and faceLike != '' ">  
             and `face` like "%"#{faceLike}"%"
        </if>   
        <if test="remark != null and remark != '' ">  
           and `remark` = #{remark}
        </if>  
        <if test="remarkLike != null and remarkLike != '' ">  
             and `remark` like "%"#{remarkLike}"%"
        </if>   
        <if test="createtime != null and createtime != '' ">  
           and `createtime` = #{createtime}
        </if>  
        <if test="createtimeBegin != null and createtimeBegin != '' ">  
             and `createtime` &gt;= #{createtimeBegin}
        </if>   
         <if test="createtimeEnd != null and createtimeEnd != '' ">  
             and `createtime` &lt;= #{createtimeEnd}
        </if> 
        <if test="createtimeBegin != null and createtimeBegin != '' ">  
             and `createtime` &gt;= #{createtimeBegin}
        </if>   
         <if test="createtimeEnd != null and createtimeEnd != '' ">  
             and `createtime` &lt;= #{createtimeEnd}
        </if> 
        <if test="updatetime != null and updatetime != '' ">  
           and `updatetime` = #{updatetime}
        </if>  
        <if test="updatetimeBegin != null and updatetimeBegin != '' ">  
             and `updatetime` &gt;= #{updatetimeBegin}
        </if>   
         <if test="updatetimeEnd != null and updatetimeEnd != '' ">  
             and `updatetime` &lt;= #{updatetimeEnd}
        </if> 
        <if test="updatetimeBegin != null and updatetimeBegin != '' ">  
             and `updatetime` &gt;= #{updatetimeBegin}
        </if>   
         <if test="updatetimeEnd != null and updatetimeEnd != '' ">  
             and `updatetime` &lt;= #{updatetimeEnd}
        </if> 
  </select>
   <select id="listByParams4Page" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user

    where 1=1
        <if test="id != null and id != '' ">  
           and sys_user.`id` = #{id}
        </if>  
        <if test="username != null and username != '' ">  
           and sys_user.`username` = #{username}
        </if>  
        <if test="usernameLike != null and usernameLike != '' ">  
             and sys_user.`username` like "%"#{usernameLike}"%"
        </if>   
        <if test="password != null and password != '' ">  
           and sys_user.`password` = #{password}
        </if>  
        <if test="passwordLike != null and passwordLike != '' ">  
             and sys_user.`password` like "%"#{passwordLike}"%"
        </if>   
        <if test="nkname != null and nkname != '' ">  
           and sys_user.`nkname` = #{nkname}
        </if>  
        <if test="nknameLike != null and nknameLike != '' ">  
             and sys_user.`nkname` like "%"#{nknameLike}"%"
        </if>   
        <if test="type != null and type != '' ">  
           and sys_user.`type` = #{type}
        </if>  
        <if test="status != null and status != '' ">  
           and sys_user.`status` = #{status}
        </if>  
        <if test="email != null and email != '' ">  
           and sys_user.`email` = #{email}
        </if>  
        <if test="emailLike != null and emailLike != '' ">  
             and sys_user.`email` like "%"#{emailLike}"%"
        </if>   
        <if test="telno != null and telno != '' ">  
           and sys_user.`telno` = #{telno}
        </if>  
        <if test="telnoLike != null and telnoLike != '' ">  
             and sys_user.`telno` like "%"#{telnoLike}"%"
        </if>   
        <if test="idcard != null and idcard != '' ">  
           and sys_user.`idcard` = #{idcard}
        </if>  
        <if test="idcardLike != null and idcardLike != '' ">  
             and sys_user.`idcard` like "%"#{idcardLike}"%"
        </if>   
        <if test="sex != null and sex != '' ">  
           and sys_user.`sex` = #{sex}
        </if>  
        <if test="birth != null and birth != '' ">  
           and sys_user.`birth` = #{birth}
        </if>  
        <if test="integral != null and integral != '' ">  
           and sys_user.`integral` = #{integral}
        </if>  
        <if test="address != null and address != '' ">  
           and sys_user.`address` = #{address}
        </if>  
        <if test="addressLike != null and addressLike != '' ">  
             and sys_user.`address` like "%"#{addressLike}"%"
        </if>   
        <if test="weichat != null and weichat != '' ">  
           and sys_user.`weichat` = #{weichat}
        </if>  
        <if test="weichatLike != null and weichatLike != '' ">  
             and sys_user.`weichat` like "%"#{weichatLike}"%"
        </if>   
        <if test="qq != null and qq != '' ">  
           and sys_user.`qq` = #{qq}
        </if>  
        <if test="face != null and face != '' ">  
           and sys_user.`face` = #{face}
        </if>  
        <if test="faceLike != null and faceLike != '' ">  
             and sys_user.`face` like "%"#{faceLike}"%"
        </if>   
        <if test="remark != null and remark != '' ">  
           and sys_user.`remark` = #{remark}
        </if>  
        <if test="remarkLike != null and remarkLike != '' ">  
             and sys_user.`remark` like "%"#{remarkLike}"%"
        </if>   
        <if test="createtime != null and createtime != '' ">  
           and sys_user.`createtime` = #{createtime}
        </if>  
        <if test="createtimeBegin != null and createtimeBegin != '' ">  
             and sys_user.`createtime` &gt;= #{createtimeBegin}
        </if>   
         <if test="createtimeEnd != null and createtimeEnd != '' ">  
             and sys_user.`createtime` &lt;= #{createtimeEnd}
        </if> 
        <if test="updatetime != null and updatetime != '' ">  
           and sys_user.`updatetime` = #{updatetime}
        </if>  
        <if test="updatetimeBegin != null and updatetimeBegin != '' ">  
             and sys_user.`updatetime` &gt;= #{updatetimeBegin}
        </if>   
         <if test="updatetimeEnd != null and updatetimeEnd != '' ">  
             and sys_user.`updatetime` &lt;= #{updatetimeEnd}
        </if> 
  </select>
   <select id="countByParams" parameterType="map" resultType="java.lang.Integer">
    select 
    count(1) 
    from sys_user where 1=1
        <if test="id != null and id != '' ">  
           and sys_user.`id` = #{id}
        </if>  
        <if test="username != null and username != '' ">  
           and sys_user.`username` = #{username}
        </if>  
        <if test="usernameLike != null and usernameLike != '' ">  
             and sys_user.`username` like "%"#{usernameLike}"%"
        </if>   
        <if test="password != null and password != '' ">  
           and sys_user.`password` = #{password}
        </if>  
        <if test="passwordLike != null and passwordLike != '' ">  
             and sys_user.`password` like "%"#{passwordLike}"%"
        </if>   
        <if test="nkname != null and nkname != '' ">  
           and sys_user.`nkname` = #{nkname}
        </if>  
        <if test="nknameLike != null and nknameLike != '' ">  
             and sys_user.`nkname` like "%"#{nknameLike}"%"
        </if>   
        <if test="type != null and type != '' ">  
           and sys_user.`type` = #{type}
        </if>  
        <if test="status != null and status != '' ">  
           and sys_user.`status` = #{status}
        </if>  
        <if test="email != null and email != '' ">  
           and sys_user.`email` = #{email}
        </if>  
        <if test="emailLike != null and emailLike != '' ">  
             and sys_user.`email` like "%"#{emailLike}"%"
        </if>   
        <if test="telno != null and telno != '' ">  
           and sys_user.`telno` = #{telno}
        </if>  
        <if test="telnoLike != null and telnoLike != '' ">  
             and sys_user.`telno` like "%"#{telnoLike}"%"
        </if>   
        <if test="idcard != null and idcard != '' ">  
           and sys_user.`idcard` = #{idcard}
        </if>  
        <if test="idcardLike != null and idcardLike != '' ">  
             and sys_user.`idcard` like "%"#{idcardLike}"%"
        </if>   
        <if test="sex != null and sex != '' ">  
           and sys_user.`sex` = #{sex}
        </if>  
        <if test="birth != null and birth != '' ">  
           and sys_user.`birth` = #{birth}
        </if>  
        <if test="integral != null and integral != '' ">  
           and sys_user.`integral` = #{integral}
        </if>  
        <if test="address != null and address != '' ">  
           and sys_user.`address` = #{address}
        </if>  
        <if test="addressLike != null and addressLike != '' ">  
             and sys_user.`address` like "%"#{addressLike}"%"
        </if>   
        <if test="weichat != null and weichat != '' ">  
           and sys_user.`weichat` = #{weichat}
        </if>  
        <if test="weichatLike != null and weichatLike != '' ">  
             and sys_user.`weichat` like "%"#{weichatLike}"%"
        </if>   
        <if test="qq != null and qq != '' ">  
           and sys_user.`qq` = #{qq}
        </if>  
        <if test="face != null and face != '' ">  
           and sys_user.`face` = #{face}
        </if>  
        <if test="faceLike != null and faceLike != '' ">  
             and sys_user.`face` like "%"#{faceLike}"%"
        </if>   
        <if test="remark != null and remark != '' ">  
           and sys_user.`remark` = #{remark}
        </if>  
        <if test="remarkLike != null and remarkLike != '' ">  
             and sys_user.`remark` like "%"#{remarkLike}"%"
        </if>   
        <if test="createtime != null and createtime != '' ">  
           and sys_user.`createtime` = #{createtime}
        </if>  
        <if test="createtimeBegin != null and createtimeBegin != '' ">  
             and sys_user.`createtime` &gt;= #{createtimeBegin}
        </if>   
         <if test="createtimeEnd != null and createtimeEnd != '' ">  
             and sys_user.`createtime` &lt;= #{createtimeEnd}
        </if> 
        <if test="updatetime != null and updatetime != '' ">  
           and sys_user.`updatetime` = #{updatetime}
        </if>  
        <if test="updatetimeBegin != null and updatetimeBegin != '' ">  
             and sys_user.`updatetime` &gt;= #{updatetimeBegin}
        </if>   
         <if test="updatetimeEnd != null and updatetimeEnd != '' ">  
             and sys_user.`updatetime` &lt;= #{updatetimeEnd}
        </if> 
  </select>
 <select id="countByOrParams" parameterType="map" resultType="java.lang.Integer">
    select
    count(1)
    from sys_user where 1!=1
        <if test="id != null and id != '' ">
           or `id` = #{id}
        </if>
        <if test="username != null and username != '' ">
           or `username` = #{username}
        </if>
        <if test="password != null and password != '' ">
           or `password` = #{password}
        </if>
        <if test="nkname != null and nkname != '' ">
           or `nkname` = #{nkname}
        </if>
        <if test="type != null and type != '' ">
           or `type` = #{type}
        </if>
        <if test="status != null and status != '' ">
           or `status` = #{status}
        </if>
        <if test="email != null and email != '' ">
           or `email` = #{email}
        </if>
        <if test="telno != null and telno != '' ">
           or `telno` = #{telno}
        </if>
        <if test="idcard != null and idcard != '' ">
           or `idcard` = #{idcard}
        </if>
        <if test="sex != null and sex != '' ">
           or `sex` = #{sex}
        </if>
        <if test="birth != null and birth != '' ">
           or `birth` = #{birth}
        </if>
        <if test="integral != null and integral != '' ">
           or `integral` = #{integral}
        </if>
        <if test="address != null and address != '' ">
           or `address` = #{address}
        </if>
        <if test="weichat != null and weichat != '' ">
           or `weichat` = #{weichat}
        </if>
        <if test="qq != null and qq != '' ">
           or `qq` = #{qq}
        </if>
        <if test="face != null and face != '' ">
           or `face` = #{face}
        </if>
        <if test="remark != null and remark != '' ">
           or `remark` = #{remark}
        </if>
        <if test="createtime != null and createtime != '' ">
           or `createtime` = #{createtime}
        </if>
        <if test="updatetime != null and updatetime != '' ">
           or `updatetime` = #{updatetime}
        </if>
  </select>
</mapper>
