<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
  <display-name>colamachine</display-name>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.properties</param-value>
  </context-param>
  <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:config/xml/applicationContext*.xml
		</param-value>
	</context-param>
   <listener>  
    <description>Spring core configuration</description>  
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
  </listener> 

  <listener>
    	<listener-class>cola.machine.web.listener.SysListener</listener-class>
	</listener>	
	<!-- Spring Mvc -->
	<!-- <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping> -->
	 <servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>springMVC</servlet-name>
        <url-pattern>*.json</url-pattern>
    </servlet-mapping>


  
<!-- 
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter> -->
	 <filter>
        <filter-name>loginfilter</filter-name>
        <filter-class>cola.machine.calendar.filter.LoginFilter</filter-class>
		<init-param>
			<param-name>checkSessionKey</param-name>
			<param-value>user</param-value>
		</init-param>
		<init-param>
			<param-name>notCheckURLList</param-name>
			<param-value>/ueditor/jsp/upload/.*;/upload/.*;/weixin/.*;/validEmail.json;/artical/list.json;/artical/view.json;/expert/view.json;/expert/list.json;/partner/list.json;/partner/view.json;/register/captcha.json;/login.htm;/code/.*;/static/.*;/login.htm;/register.htm;/loginPost.json;/registerPost.json;/pwdreset.htm;/active/\w*;/img/.*
			;/forgetpwd.htm;/pwdresetPost.json;/forgetpwd/save.json.*;/pwdrst/save.json;/pwdrst/edit.htm;/pwdrst;/.*\.jpg;/validatecode;/share/qq;
			</param-value>
		</init-param>
		<init-param>
			<param-name>redirectURL</param-name>
			<param-value>/login.htm</param-value>
		</init-param>
    </filter>
   <!--  <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> -->
    
 
    <filter-mapping>
        <filter-name>loginfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

	<filter>
	<filter-name>characterEncodingFilter</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>

	<init-param>
	<param-name>encoding</param-name>
	<param-value>UTF-8</param-value>
	</init-param>
	<init-param>
	<param-name>forceEncoding</param-name>
	<param-value>true</param-value>
	</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<!-- <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>cola.machine.common.ajax.AjaxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>*.ajax</url-pattern>
    </servlet-mapping>  -->
    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
</web-app>
